FORCE_REBUILD=0
JITSI_RELEASE=unstable
JITSI_BUILD=latest
JITSI_REPO=jitsi
# custom repo for apply patches for jitsi-meet
WEB_PATCH_REPO=git@github.com:netaskd/jitsi-meet.git
# versions
JITSI_SERVICES=web=1.0.4320-1 prosody=0.11.5-1 jicofo=1.0-612-1 jvb=2.1-274-g9bbf2713-1 jigasi=1.1-126-g6df3db2-1 jibri=8.0-43-gb7d041d-1 etherpad=1.8.0 etherdraw=1.1 turn=4.5.1.3
