--capture-dev=7
--playback-dev=8
--video
--vcapture-dev=1
--no-color
--log-level=5
--app-log-level=5
--auto-update-nat=0
--disable-stun
--no-tcp
--dis-codec=GSM
--dis-codec=H263
--dis-codec=iLBC
--dis-codec=G722
--dis-codec=speex
--dis-codec=pcmu
--dis-codec=pcma
--dis-codec=opus
--add-codec=G722
--add-codec=opus
--no-vad
--ec-opt=2
--jb-max-size=30
--quality=10
--max-calls=1
--no-stderr
--log-file=/var/log/jitsi/jibri/pjsua.log
--auto-answer=200
--duration=7200
--stereo
--rtp-port={{ .Env.JIBRI_SIP_RTP_PORT_MIN | default 19900 }}
{{ if eq .Env.JIBRI_SIP_TRANSPORT "TLS" }}--use-tls
--tls-ca-file=/etc/ssl/certs/ca-certificates.crt
--tls-cert-file=/config/keys/cert.crt
--tls-privkey-file=/config/keys/cert.key{{ end }}
{{ if .Env.JIBRI_SIP_ENABLE_SRTP | default "0" | toBool }}--use-srtp=2
--srtp-secure=0{{ end }}
{{ if .Env.JIBRI_SIP_USERNAME }}--username={{ .Env.JIBRI_SIP_USERNAME }}
--id=sip:{{ .Env.JIBRI_SIP_USERNAME }}@{{ .Env.JIBRI_SIP_REALM }}{{ if eq .Env.JIBRI_SIP_TRANSPORT "TLS" }};transport=tls{{ end }}
--password={{ .Env.JIBRI_SIP_PASSWORD }}
--realm={{ .Env.JIBRI_SIP_REALM }}{{ end }}
